<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>Books Homepage - Welcome to My Book Store</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>
<body>
<header>
    <h1>Welcome to My Book Store</h1>
</header>
<main>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CHOOSE A BOOK:</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book: ${books}" class="book">
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getGenre()}"></td>
            <td th:text="${book.getYear()}"></td>
            <td>
                <th:block>
                    <form th:action="@{'/books/{id}' (id=${book.getId()})}"
                    th:method="POST">
                        <button type="submit" class="btn btn-sm btn-primary">
                            <i class="fa fa-trash">
                            Add author
                            </i>
                        </button>
                    </form>
                </th:block>
                <th:block>
                    <form th:action="@{'books/delete/{id}' (id=${book.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger delete-product">
                            <i class="fa fa-trash">Delete</i>
                        </button>
                    </form>
                </th:block>
                <th:block>
                    <a th:href="@{'books/edit-form/{id}' (id=${book.getId()})}"
                       class="btn btn-sm btn-info edit-product">
                        <i class="fa fa-trash">Edit</i>
                    </a>
                </th:block>
            </td>
        </tr>
        </tbody>
    </table>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/books/add-book" class="btn btn-block btn-dark add-product-btn">
                    Add new book
                </a>
            </div>
        </div>
    </div>



</main>
</body>
</html>