<div xmlns:th="http://www.thymeleaf.org">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">WEB PROGRAMMING SHOP</h1>
            <h3 class="jumbotron-heading">All products</h3>
        </div>
    </section>
    <table class="table table-striped">
        <thead>
        <tr>
            <th scope="col">CHOOSE A BOOK:</th>
        </tr>
        </thead>

        <tbody>
        <tr th:each="book: ${books}" class="book">
            <td th:text="${book.getTitle()}"></td>
            <td th:text="${book.getGenre()}"></td>
            <td th:text="${book.getYear()}"></td>
            <td>
                <th:block>
                    <form th:action="@{'/books/{id}' (id=${book.getId()})}"
                    th:method="POST">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Add author
                        </button>
                    </form>
                </th:block>
                <th:block>
                    <form th:action="@{'books/delete/{id}' (id=${book.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger delete-product">
                            Delete
                        </button>
                    </form>
                </th:block>
                <th:block>
                    <a th:href="@{'books/edit-form/{id}' (id=${book.getId()})}"
                       class="btn btn-sm btn-info edit-product">
                        <i>Edit</i>
                    </a>
                </th:block>
                <th:block>
                    <form th:action="@{'books/clone/{id}' (id=${book.getId()})}" th:method="POST">
                        <button type="submit" class="btn btn-sm btn-danger delete-product">
                            Clone
                        </button>
                    </form>
                </th:block>
                <th:block>
                    <form th:action="@{'reviews/add-review/{id}' (id=${book.getId()})}">
                        <button type="submit" class="btn btn-sm btn-primary">
                            Add review
                        </button>
                    </form>
                </th:block>
                <th:block>
                <form th:action="@{'/shopping-cart/add-product/{id}' (id=${book.getId()})}" th:method="POST">
                    <button type="submit" class="btn btn-sm btn-primary">
                        Add to cart
                    </button>
                </form>
            </th:block>
            </td>
        </tr>
        </tbody>
    </table>

    <a  href="/reviews/avg-ratings" class="btn btn-block btn-dark">Average rating for all books in store</a>
    <a href="/reviews/max-avg" class="btn btn-block btn-dark">Get Max Avg Rating</a>
    <div class="col mb-3">
        <div class="row">
            <div class="col-sm-12 col-md-12">
                <a href="/books/add-book" class="btn btn-block btn-dark add-product-btn">
                    Add new book
                </a>
            </div>
        </div>
    </div>

</div>