<!DOCTYPE html>
<head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
            integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
            crossorigin="anonymous"></script>

    <title>Welcome to the review page</title>
    <style type="text/css">
        body {
            width: 800px;
            margin: auto;
        }
    </style>
</head>

<div class="container">
    <div class="row">
        <div class="col-md-5">
            <table class="table table-striped">
                <thead></thead>
                <tbody>

                <th:block>
            <form action="/reviews/submit-review" method="POST">
                <input id="id" type="hidden" name="id"
                       th:value="${bookId}">

                <div class="form-group">
                    <label for="review">Book Rating</label>
                    <input type="number"
                           class="form-control"
                           id="review"
                           name="review"
                           placeholder="Enter book rating">
                </div>
                <div class="form-group">
                    <label for="description">Description</label>
                    <input type="text"
                           class="form-control"
                           id="description"
                           name="description"
                           placeholder="Description">
                </div>
                <div class="form-group">
                    <label for="dateCreated">Book Date Created</label>
                    <input type="datetime-local"
                           class="form-control"
                           id="dateCreated"
                           name="dateCreated"
                           placeholder="Enter book review date of creation">
                </div>


                <button id="submit" type="submit" class="btn btn-primary">Submit</button>

            </form>
                </th:block>

                </tbody>

            </table>


            <th:block>
                <h2>Average ratings for all books</h2>
                <h3 th:text="${avg}"></h3>
            </th:block>
            <th:block>
                <h2>Max Avg Rating For All Books</h2>
                <h3 th:text="${max}"></h3>
            </th:block>


            <a type="button" class="btn btn-primary" href="/books">Back</a>
        </div>
    </div>
</div>
</div>
